<p id="notice"><%= notice %></p>

<p>

  <strong>Data:</strong>
  <br />
  <%= safe_join(@paste.data.split(/\r?\n/), tag(:br)) %>

</p>

<%= link_to 'Edit', edit_paste_path(@paste) %> |
<%= link_to 'Back', pastes_path %>
